@import './constants.scss';



.wrapper{

    overflow-x: clip;
    position: relative;
    color: $primary;
    @media(min-width:$md){
        height:100vh;
        background-color: #F8F7F1;
    }
    
    .container{
        background-color: #F8F7F1;
    }
}


